<!-- This page is the master page for all template pages that are part of this frontend template. 
    It provides the header and footer element for every other page.-->
<!doctype html>
<html id="styleguide" class="" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ appName }}</title>

            <!--CHOOSE-->
            <!--Meraki Design:-->
            <!--OR CHOOSE-->
            <!--Cisco Design:-->
            <link rel="stylesheet" href="{{ url_for('static', path='/css/cui-standard.css') }}">
            <link rel="icon" href="{{ url_for('static', path='/images/Logo_small_blue.png') }}">

            <!--CHOOSE END-->

            <!--script link for Charts.js library-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
            <link rel="stylesheet" href="static/css/customStyles.css">
            <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
            <script src="{{ url_for('static', path='/js/styleguide.js') }}"></script>
            <script src="{{ url_for('static', path='/js/loader.js') }}"></script>
            <script src="{{ url_for('static', path='/js/selects.js') }}"></script>
        </head>
        <body class="cui">
            {% include 'includes/nav.html' %}
            <div class="content content--alt">
                <div class="container-fluid">
                    {% block content %}
                    <!-- The content block where page-specific content will be included -->
                    {% endblock %}
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </body>
</html>
